#kontak_bg {
    background-image: url("https://asset-a.grid.id/crop/0x0:0x0/700x465/photo/2019/01/14/2584444424.jpg");
    height: 730px;
}
.kontak {
    color: black;
    text-align: center;
    margin-top: 208px;
    background-color: white;
}
  
  